<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
</head>
<body>
    <div class="container">
        <div class="top_navbar">
            <p> Logo </p>
            <p> Home </p>
            <p> Services </p>
            <p> How We Clean </p>
        </div>
        <br>
        <div class="services">
            <p>One Time Clean</p>
            <p> Light Clean</p>
            <p> Deep Clean </p>
            <p> Kitchen Appliances </p>
            <p> Renovation Clean </p>
            <p> Move In / Out </p>
            <p> Property Cleanup </p>
            <p> Carpet </p>
        </div>
        <br>
        <div class="bottom_nav">
            <p> Instagram | Facebook | Number </p>
        </div>
    </div>
</body>
</html>