<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <style>
        .container {
            width: 1800px;
            height: 920px;
            margin: auto;
            background-color: whitesmoke;
        }
        .top_navbar {
            background-color: white;
            display: flex;
            width: 98%;
            height: 14%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 22px;
            margin-top: 15px;
            padding: 10px;
            border: outset 5px;
        }
        .bottom_navbar {
            height: 15%;
            width: 100%;
            border: black solid 3px;
            margin-top: 25rem;
        }
        .services_navbar {
            height: 20%;
            background-color: whitesmoke; 
            display:flex;
        }
        .services {
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .services_dropdown {
            display: none;
            box-shadow: 5px 8px 8px 5px;
            flex-direction: column;
            width: 50%;
        }
        ul {
            flex-direction: column;
        }
        li {
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: italic;
            font-size: 18px;
        }
        .services:hover .services_dropdown {
            display: block;
        }
        .services:hover .services_detail {
            display: block;
        }
        button {
            border: none;
            background-color: darkcyan;
            font-size: 23px;
            border-radius: 50px;
            padding: 10px;
        }
        a {
            text-decoration: none;
        }
        .services_detail {
            display: none;
            height: 530px;
            width: 1111px;
            margin: 10px;
            box-shadow: -5px 5px 5px 5px rebeccapurple;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top_navbar">
            <img src="{{url_for('static',filename='/imgs/logo.jpg')}}" alt="logo" style="width:150px; height: 100px;">
            <p> <a href="/"> Home </a>| <a href="/services"> Services We Offer </a>| <a href="/how_we_clean"> How We Clean </a>| <a href="/about"> About Us </a> (585) 434 - 8543 </p>
        </div>
        <br>
        <div class="serv12">
        <!-- <img src="{{ url_for('static', filename='/imgs/services_background.jpg') }}"> -->
            <div class="services_navbar">
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> One Time Clean </a></button>
                    <div class="services_detail">
                        <h2> One Time Clean </h2>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                        </p>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Deep Clean </a></button>
                    <div class="services_detail">
                        <h2> One Time Clean </h2>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                        </p>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Restoration </a></button>
                    <div class="services_detail">
                        <h2> One Time Clean </h2>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                        </p>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Light Clean </a></button>
                    <div class="services_detail">
                        <h2> One Time Clean </h2>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                        </p>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Specialty Cleans </a></button>
                    <div class="services_dropdown">
                        <ul>
                            <li><a href="#"> Kitchen / Stove </a></li>
                            <li><a href="#"> Move In / Out </a></li>
                            <li><a href="#"> Laundry Services </a></li>
                            <li><a href="#"> Something Else </a></li>
                            <li><a href="#"> AirBnb </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bottom_navbar">
            <p> Instagram | Facebook | Number </p>
        </div>
    </div>
</body>
</html>