<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Our Services </title>
    <style>
        .container {
            width: 100%;
            height: max-content;
            margin: auto;
            background-color: whitesmoke;
        }
        .top_navbar {
            background-color: aliceblue;
            display: flex;
            width: 98%;
            height: 14%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 22px;
            margin-top: 15px;
            padding: 10px;
            border: outset 5px;
        }
        .bottom_navbar {
            height: 100px;
            width: 100%;
            font-size: larger;
            border: black solid 3px;
            display: flex;
            align-items: center;
        }
        .services_navbar {
            height: 20%;
            background-color: whitesmoke; 
            display:flex;
        }
        .services {
            position: relative;
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("/imgs/services_background.jpg");
        }
        .services_dropdown {
            display: none;
            box-shadow: 5px 8px 8px 5px;
            flex-direction: column;
            width: 60%;
        }
        ul {
            flex-direction: column;
        }
        li {
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: italic;
            font-size: 18px;
        }
        .services:hover .services_dropdown {
            display: block;
        }
        .services:hover .services_detail {
            display: block;
        }
        button {
            border: none;
            background-color: darkcyan;
            font-size: 23px;
            border-radius: 50px;
            padding: 10px;
        }
        a {
            text-decoration: none;
        }
        .services_detail {
            display: none;
            height: 530px;
            width: 1111px;
            margin: 10px;
            box-shadow: -5px 5px 5px 5px rebeccapurple;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top_navbar">
            <img src="{{url_for('static',filename='/imgs/logo.jpg')}}" alt="logo" style="width:150px; height: 100px;">
            <p> <a href="/"> Home </a>| <a href="/services"> Services We Offer </a>| <a href="/how_we_clean"> How We Clean </a>| <a href="/about"> About Us </a> (585) 434 - 8543 </p>
        </div>
        <br>
        <div class="serv12">
            <div class="services_navbar">
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Light Clean </a></button>
                    <div class="services_detail">
                        <h2> Light Clean </h2>
                        <p> 
                            Something short and sweet about light cleans.
                        </p>
                        <p> 
                            1. Wipe 
                            2. Dust 
                            3. Windows (Inside Only)
                            4. Vacuum
                            5. Mop 
                            6. Bathroom 
                            7. Kitchen 
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Deep Clean </a></button>
                    <div class="services_detail">
                        <h2> Deep Clean </h2>
                        <p> 
                            Something nice and short about the clean.
                        </p>
                        <br>
                        <p> 
                            1. Wipe 
                            2. Dust 
                            3. Windows (Inside Only)
                            4. Vacuum
                            5. Mop 
                            6. Bathroom 
                            7. Kitchen 
                            8. Walls 
                            9. Baseboards 
                            10. Wipe Vents 
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Renovation </a></button>
                    <div class="services_detail">
                        <h2> Renovation </h2>
                        <p> 
                            Something nice and short about the clean.
                        <p> 
                            1. Wipe 
                            2. Dust 
                            3. Windows (Inside Only)
                            4. Vacuum
                            5. Mop 
                            6. Bathroom 
                            7. Kitchen 
                            8. Walls 
                            9. Baseboards 
                            10. Wipe Vents 
                            11. Something else that differs it from deep clean.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                    </div>
                </div>
                <br>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Commercial </a></button>
                    <div class="services_detail">
                        <h2> Commercial </h2>
                        <p> 
                            Something nice and short about the clean.
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                    </div>
                </div>
                <br>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Property Clean </a></button>
                    <div class="services_detail">
                        <h2> Property Clean </h2>
                        <p> 
                            Something nice and short about the clean.
                        <p> 
                            Empty 4 hour deep clean. 
                            Furniture removal. 
                        </p>
                        <br>
                        <p> 
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                            How fast can I type I don't know you tell me I wonder if I
                            always have to look at the keyboard if I want to type fast.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="services">
                    <button type="button" class="btn btn-primary"><a href=""> Specialty Cleans </a></button>
                    <div class="services_dropdown">
                        <ul>
                            <li><a href="/specialty_cleans"> Kitchen / Stove </a></li>
                            <li><a href="/specialty_cleans"> Move In / Out </a></li>
                            <li><a href="/specialty_cleans"> Laundry Services </a></li>
                            <li><a href="/specialty_cleans"> Ceiling Fan </a></li>
                            <li><a href="/specialty_cleans"> Carpet </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bottom_navbar">
            <div class="contact">
                <p> <a href="https://www.instagram.com/thetruthcleaningsolutions/"> Instagram </a> | <a href="https://www.facebook.com/profile.php?id=100087073938157"> Facebook </a> | <a href="career.html"> Careers </a> | (585) 434 8543 </p>
            </div>
        </div>
    </div>
</body>
</html>